ul {
  color: white;
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
  mix-blend-mode: difference;
  color: white;
}
main {
  position: fixed;
  z-index: 2;
  padding: 12px;
}
* {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  z-index: 1;
}
